<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="head-bar">
        <label class="header-label" >Node.js/MySql</label>
        <ul>
            {{!-- <li class="bars"><a href="/" >Home</a></li> --}}
            <li class="bars"><a href="/login" >Login</a></li>
            <li class="bars"><a href="/register" >Register</a></li>
        </ul>
    </div>
        <div class="register-form-center">
        <h3>Login</h3>
        <form action="/auth/index" method="post">
            <div class="input-contents">
                <input type="mail" name="email"  placeholder="Email">

            </div>
            <div class="input-contents">
                <input type="password" name="password"placeholder="Password">
                
            </div>
            
            <div class="enter-button">
                <button>Login</button>
            </div>
            
                {{#if message}}
                        <h4 class="alert alert-danger mt-4" >{{message}}</h4>
                {{/if}}

            <div class="center-footer">
                <span>not have an account? <span class="signup-span shower" ><a href="/register" >Register</a></span></span>
            </div>
        </form>
    </div>
    
</body>
</html>